In [4]:
#object_name.method() or the atribute

import math
+radius: Float
+color: String

IndentationError: unexpected indent (<ipython-input-4-1fb274d1b0e9>, line 7)

In [7]:
a = 3 #name referenciating an object
b = a #referencing the same object
a = 3.14 # a were an integer and now it's a float
b = "hello" #the object 3 is not referenced by any variable

#Garbage collection

del b #we are removing this name, so the garbage collection can remove the object
#id() #returns identity of an object (to be unique among objects that exists at the same time)

id(a)
id(b)

NameError: name 'b' is not defined

In [8]:
a = 3
b = a

a is b
c = 5
a is 5

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-8-b4470fca2efc>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 5

False

In [9]:
a = True
a is None

False

In [10]:
id(3)

4374034848

In [11]:
id(2)

4374034816

In [12]:
id(10)

4374035072

In [13]:
id(1000)

140670245319344

In [14]:
id(3.14)

140671341465424

In [15]:
id("hello")

140671341673456

In [16]:
id(5)

4374034912

In [17]:
word ="holi" #the output: names available for that object
dir(word)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
word = "holi" #the output: names available for that object
help(word.split) # using this command we will get the documentation

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [22]:
#useful methods strings
sentence = "This is a test example sentence.\nThis is the second sentence.\n"
sentence.split()

['This',
 'is',
 'a',
 'test',
 'example',
 'sentence.',
 'This',
 'is',
 'the',
 'second',
 'sentence.']

In [23]:
sentence.split("\n")

['This is a test example sentence.', 'This is the second sentence.', '']

In [24]:
sentence.strip()

'This is a test example sentence.\nThis is the second sentence.'

In [25]:
sentence.strip("\n.")

'This is a test example sentence.\nThis is the second sentence'

In [26]:
"The result of 2 + 2 is " + str(4) #converting 4 value into a string to concatenate it with an another string

'The result of 2 + 2 is 4'

In [27]:
"Student ID %d. Name %s. Age %d. Rank %f" %(1272,"Toni",23,3.2) #formatting strings

'Student ID 1272. Name Toni. Age 23. Rank 3.200000'

In [28]:
print("Example of formatting: %.3f" %(3.141592653589793)) #%[flags][width][.precision]code

Example of formatting: 3.142

In [31]:
my_string = "The name of the student is {name}. The surname is {surname}"
my_string.format(name="Roger", surname="Puig")

'The name of the student is Roger. The surname is Puig'

In [36]:
#formating strings
name = "Roger"
surname = "Puig"

my_string = f"The name of the student is {name}. The surname is {surname}"
print(my_string)

The name of the student is Roger. The surname is Puig

In [37]:
#string prefix

name = "Roger"
surname = "Puig"
my_string = r"The name of the student is \"{name}\". The surname is \"{surname}\""
my_string = rf"The name of the student is \"{name}\". The surname is \"{surname}\""
my_string = b"The name of the student is \"{name}\". The surname is \"{surname}\""
my_string = u"The name of the student is \"{name}\". The surname is \"{surname}\""

In [ ]:
#File object

#open(name[, mode[, buffering]]) -> file object #this returns a file object

In [ ]:
fd = open(“my_file.txt”,”r”)
for line in fd: #returning each line
    print(line)

fd.close() #closing the file

In [ ]:
#the best option to use, inside the with block, variable called fd which points to that file, open and close files

with open(“my_file.txt”,”r”) as fd:
    for line in fd:
        print(line)